<!DOCTYPE html>
<html>
    <head>
        <title>::APP.TITLE::</title>
    </head>

    <body style="padding: 0; margin: 0;">
    ::if (PLATFORM.JQUERY != null)::
        <script type="text/javascript">
            window.$ = window.jQuery = require("./::PLATFORM.JQUERY.target::");
        </script>
    ::end::
    ::foreach PLATFORM.JS_SOURCES::
        <script type="text/javascript" src="./::__current__.target::"></script>
    ::end::
        <script type="text/javascript" src="./::APP.FILE::.js"></script>
        <script>console.log('Versions : Node/Electron/Chrome: ' + process.versions.node + '/' + process.versions.electron + '/' + process.versions.chrome)</script>
    </body>

</html>
